.wrapper {
  width: 100%;
}

.header {
  margin-bottom: 2.5rem;
}

.title {
  margin-bottom: 1.25rem;
  font-size: var(--fs-3xl);
  font-weight: var(--fw-medium);
  line-height: 1.2;
  color: var(--color-text-main);
}

.text {
  font-size: var(--fs-md);
  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.submitButton {
  width: 100%;
  margin-top: 1.375rem;
}
