.wrapper {
  width: 100%;
}

.header {
  margin-bottom: var(--space-10);
}

.title {
  margin-bottom: var(--space-5);

  font-size: var(--fs-3xl);
  font-weight: var(--fw-medium);
  line-height: var(--lh-title);

  color: var(--color-text-main);
}

.text {
  font-size: var(--fs-md);
  line-height: 1.375;

  color: var(--color-text-muted);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.submitButton {
  width: 100%;
  margin-top: var(--space-6);
}
