.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.content {
  padding: 3rem 1.5rem;
  border-radius: var(--radius-xl);
  background-color: #f8f8f8;
}

.title {
  max-width: 34.25rem;
  margin-bottom: 2rem;
  font-size: clamp(2.25rem, 7vw, 3rem);
  font-weight: var(--fw-medium);
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: var(--color-text-main);
}

.accent {
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: var(--radius-sm);
  font-style: italic;
  font-weight: var(--fw-regular);
  background-color: var(--color-primary-light);
}

.text {
  max-width: 29.375rem;
  margin-bottom: 2.5rem;
  font-size: var(--fs-md);
  line-height: 1.375;
  color: var(--color-text-main);
}

.button {
  min-width: 16.6875rem;
}

.imageWrapper {
  min-height: 25rem;
  overflow: hidden;
  border-radius: var(--radius-xl);
  background-color: var(--color-primary-light);
}

.imagePlaceholder {
  height: 100%;
  min-height: inherit;

}

@media screen and (min-width: 64rem) {
  .hero {
    grid-template-columns: minmax(0, 1.1fr) minmax(20rem, 0.9fr);
  }

  .content {
    padding: 6.125rem 4rem;
  }

  .text {
    margin-bottom: 4rem;
  }
}